version: '3.8'
services:
  db:
    image: mysql:8.0
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: Chinook_AutoIncrement
      MYSQL_ROOT_PASSWORD: 12345
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./dump.sql:/docker-entrypoint-initdb.d/dump.sql # Nạp file từ máy thật vào
    networks:
      - my-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-p12345" ]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    build:
      context: ./nest-app
      dockerfile: Dockerfile
    # image ở đây sẽ là tên mà Docker đặt cho bản build của bạn
    image: my-nest-app:latest
    working_dir: /app
    volumes:
      - ./nest-app:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    restart: always
    environment:
      - NODE_ENV=development
    command: npm run start:dev
    networks:
      - my-network
    depends_on:
      - db

  frontend:
    build:
      context: ./react-app
      dockerfile: Dockerfile
    image: my-react-app:latest
    working_dir: /app
    volumes:
      # Sửa chỗ này: folder của bạn tên là react-app chứ không phải frontend
      - ./react-app:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: npm run dev
volumes:
  mysql_data:
networks:
  my-network:
    driver: bridge
